/* You can add global styles to this file, and also import other style files */

.avatar {
  border: 1px solid white;
  border-radius: 2px;
  margin-top: 2px;
}

.commit {
  border-bottom: 1px solid;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.message {
  border-radius: 5px;
  background-color: #708dad;
  padding: 5px;
  margin: 5px;
}

.url {
}

.timestamp {
  font-size: 14pt;
  margin-left: 5px;
}

.name {
  font-size: 16pt;
}

body {
  background: #4e5d6c;
}
