@import url('https://fonts.googleapis.com/css?family=Inconsolata|Varela+Round');

.avatar {
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 12px;
}

.commit {
  border-bottom: 1px solid;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.message {
  font-size: 12pt;
  border-radius: 5px;
  border-left: #20b31b solid 5px !important;
  border: #000000 solid 1px;
  background-color: #bdc2c8;
  padding: 5px;
  margin: 5px;
}

.url {
  font-family: 'Inconsolata', monospace;
  margin: 2px;
  font-size: 10pt;
}

.time {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
}

.date {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
}

.name {
  font-size: 14pt;
}

body {
  font-family: 'Varela Round', sans-serif;
  background: #4e5d6c;
}
