/* You can add global styles to this file, and also import other style files */

.avatar {
  border: 1px solid white;
  border-radius: 2px;
  margin-top: 2px;
}

.commit {
  border-bottom: 1px solid;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

body {
  background: #6db3f5;
}
