@import url('https://fonts.googleapis.com/css?family=Inconsolata|Varela+Round');

.avatar {
  border: 1px solid white;
  border-radius: 7px;
  margin-top: 6px;
}

.commit {
  border-bottom: #2B3E50 1px solid;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.message {
  font-size: 12pt;
  border-radius: 5px;
  border-left: #1c6d19 solid 5px !important;
  border: #2B3E50 solid 1px;
  background-color: #606E7C;
  padding: 5px;
  margin: 5px;
}

.url {
  font-family: 'Inconsolata', monospace;
  margin: 2px;
  font-size: 10pt;
}

.url :link {
  color: #08085c;
}

.url :visited {
  color: #3e0350;
}

.time {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
}

.date {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
}

.name {
  font-size: 14pt;
}

body {
  font-family: 'Varela Round', sans-serif;
  background: #4E5D6C;
}
