@import url('https://fonts.googleapis.com/css?family=Inconsolata|Varela+Round');

.color-1 {
  color: #0cc267;
}
.color-2 {
  color: #c20cc2;
}
.color-3 {
  color: #0c5fc2;
}
.color-4 {
  color: #12b50a;
}
.color-5 {
  color: #ecd80f;
}
.color-6 {
  color: #630bdb;
}

.avatar {
  border: 1px solid white;
  border-radius: 7px;
  margin-top: 6px;
}

.commit {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.whole {
  background: #606e7c;
  margin: 50px;
}

.message {
  font-size: 12pt;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.url {
  font-family: 'Inconsolata', monospace;
  margin: 2px;
  font-size: 10pt;
}

.url :link {
  color: #08085c;
}

.url :visited {
  color: #3e0350;
}

.datetime {
  text-align: center;
}

.time {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
}

.date {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
}

.name {
  font-size: 14pt;
}

.whole :after,
.whole :before {
  height: 0;
  width: 0;
  content: '';
  display: block;
  position: relative;
}
.whole :before {
  border-bottom: 50px solid #a32114;
  border-left: 12px solid transparent;
  left: -12px;
}
.whole :after {
  border-bottom: 50px solid #a32114;
  border-right: 12px solid transparent;
  left: 100px;
  top: -50px;
}

body {
  font-family: 'Varela Round', sans-serif;
}
