@import url('https://fonts.googleapis.com/css?family=Inconsolata|Varela+Round');

.avatar {
  border: 1px solid white;
  border-radius: 2px;
  margin-top: 2px;
}

.commit {
  border-bottom: 1px solid;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.message {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
  margin: 5px;
}

.url {
  font-family: 'Inconsolata', monospace;
  margin: 2px;
  font-size: 10pt;
}

.timestamp {
  font-size: 12pt;
  margin-left: 5px;
}

.name {
  font-size: 16pt;
}

body {
  font-family: 'Varela Round', sans-serif;
  background: #4e5d6c;
}
