@import url('https://fonts.googleapis.com/css?family=Inconsolata|Varela+Round');

.color-1 {
  color: #0cc267;
}
.color-2 {
  color: #c20cc2;
}
.color-3 {
  color: #0c5fc2;
}
.color-4 {
  color: #12b50a;
}
.color-5 {
  color: #ecd80f;
}
.color-6 {
  color: #630bdb;
}

.avatar {
  border: 1px solid white;
  border-radius: 7px;
  margin-top: 6px;
}

.commit {
  border-bottom: #2b3e50 1px solid;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.message {
  font-size: 12pt;
  border-radius: 5px;
  border-left: #630bdb solid 5px !important;
  border: #2b3e50 solid 1px;
  background-color: #afb7bd;
  padding: 5px;
  margin: 5px;
}

.url {
  font-family: 'Inconsolata', monospace;
  margin: 2px;
  font-size: 10pt;
}

.url :link {
  color: #08085c;
}

.url :visited {
  color: #3e0350;
}

.datetime {
  align-content: center;
}

.time {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
}

.date {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
}

.name {
  font-size: 14pt;
}

body {
  font-family: 'Varela Round', sans-serif;
  background: #4e5d6c;
}
