<div *ngIf="done">
  <div *ngFor="let update of Webhooks.updates">
    <div style="border-bottom: 1px solid">
      <span style="font-size: 14pt">{{update.head_commit.timestamp}}</span>
      <span style="font-size: 16pt">
        <img [src]="update.sender.avatar_url" width="30px" style="border: 1px solid white"> {{update.pusher.name}}</span>
      <br>
      <a [href]="update.head_commit.url" target="_blank">{{update.head_commit.id}}</a>
      <br>
      <code>{{update.head_commit.message}}</code>
    </div>
  </div>
</div>