<div *ngIf="done">
  <div *ngFor="let update of Webhooks.updates">
    <div class="commit" item-width="50px">
      <span class="timestamp">{{update.head_commit.timestamp}}</span>
      <br>
      <b class="name">
        <img [src]="update.sender.avatar_url" width="20px" class="avatar"> {{update.pusher.name}}</b>
      <br>
      <a [href]="update.head_commit.url" target="_blank" class="url">{{update.head_commit.id}}</a>
      <br>
      <code class="message">{{update.head_commit.message}}</code>
    </div>
  </div>
</div>