<div class="container-fluid einfuenftel">
  <h1 class="title">Kontakt</h1>
  <div class="contact-bg"></div>
  <div class="contact">
    <div class="contact-margin">
      <h3 class="head3">
        <img src="assets/gmail.png" width="36px"> Email: </h3>
      <a href="mailto:fuettr@gmail.com" class="btn btn-outline-secondary">fuettr@gmail.com</a>
      <h3 class="head3">
        <img src="assets/discord.png" width="36px"> Discord Support Server: </h3>
      <a href="https://discord.gg/FFgKAPp" class="btn btn-outline-secondary" target="_blank">discord.gg/FFgKAPp</a>
      <h3 class="head3">
        <img src="assets/github.png" width="36px"> Github: </h3>
      <a href="https://github.com/Katzenfuetterungsanlage/fuettr" class="btn btn-outline-secondary" target="_blank">github.com/Katzenfueterungsanlage</a>
    </div>
  </div>
</div>