@import 'bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.h100 {
  height: 100% !important;
}

/* .hw50 {
  height: 47% !important;
  width: 50% !important;
  border: 1px solid white;
}

.right {
  margin-top: -25.25% !important;
  margin-left: 50% !important;
} */

.contact {
  margin-top: 10px;
  height: 70%;
  margin-left: 2%;
  margin-right: 2%;
  border: white 1px solid;
}

.einfuenftel {
  padding-top: 80px;
  height: 20% !important;
}

.active {
  border-bottom: white solid 3px;
}

.arrow-top {
  margin-top: 70px;
  left: 48.5%;
  cursor: pointer;
}

.arrow-bottom {
  left: 48.5%;
  cursor: pointer;
}

.title {
  padding-top: 50px;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  background-color: #191816;
  border: 0;
  letter-spacing: 1px;
  border-radius: 0px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-toggler {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar li a,
.navbar .navbar-brand {
  color: #c6bfb9;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  cursor: pointer;
  border-bottom: white solid 3px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #000000 !important;
}

.dropdown-menu {
  margin-bottom: 0;
  background-color: #191816;
  border: 0;
  letter-spacing: 1px;
  border-radius: 0px;
  font-size: 18px;
}

.all {
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  font-family: 'Concert One', cursive;
  color: #ffffff;
  font-size: 32px;
  margin: 0px;
  border: 0px;
  margin-right: 12px;
  margin-bottom: -3px;
}

.logo-picture {
  margin-bottom: 6px;
  margin-right: -8px;
}

body {
  height: 100% !important;
  overflow: hidden;
}

html {
  height: 510% !important;
}

@media only screen and (min-width: 768px) {
  html {
    border-left: white solid 20px;
    border-right: white solid 20px;
  }
  .navbar {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    border-left: white solid 40px;
    border-right: white solid 40px;
  }
  .navbar {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    border-left: white solid 80px;
    border-right: white solid 80px;
  }
  .navbar {
    margin-left: 80px;
    margin-right: 80px;
  }
}
