@import 'bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.h100 {
  height: 100% !important;
}

.dropdown-menu {
  min-width: 6rem !important;
}

.langlink,.langlink:hover {
  margin-left: 10px;
  color: #ffffff;
}

.skew-bg {
  margin-top: 50px;
  height: 70%;
  background-color: #191816;
  z-index: -2;
}

.skew {
  height: 70%;
  z-index: 8;
  position: static;
}

.small-skew-bg {
  margin-top: 50px;
  height: 50%;
  width: 50%;
  background-color: #191816;
  z-index: -2;
}

.small-skew {
  height: 50%;
  z-index: 8;
  position: static;
}

.contact {
  padding-top: 1%;
}

.einfuenftel {
  padding-top: 80px;
  height: 20% !important;
}

.middle-skew {
  height: 100%;
  width: 50%;
  top: -100%;
  left: 25%;
  z-index: 8;
  background-color: #54596f;
  position: relative;
}

.middle {
  top: 25%;
  left: 3%;
  position: relative;
}

.right {
  margin-left: 15px;
  height: 100%;
  width: 50%;
  left: 50%;
  top: -200%;
  z-index: -2;
  background-color: #22242c;
  position: relative;
}

.right-text {
  top: 50%;
  left: 50%;
  position: relative;
}

.left {
  margin-left: -15px;
  background-color: #868fb2;
  width: 50%;
  height: 100%;
  z-index: -2;
  position: relative;
}

.left-text {
  top: 2%;
  left: 3%;
  position: relative;
}

.page-title {
  font-family: 'Concert One', cursive;
  font-size: 56pt;
  text-align: center;
}

.active {
  border-bottom: white solid 3px;
}

.arrow-top {
  margin-top: 70px;
  left: 48.5%;
  cursor: pointer;
}

.arrow-bottom {
  left: 48.5%;
  cursor: pointer;
}

.title {
  text-align: center;
}

.head3 {
  margin-top: 10%;
}

.btn {
  border-radius: 5px;
}

.navbar {
  margin-bottom: 0;
  background-color: #191816;
  border: 0;
  letter-spacing: 1px;
  border-radius: 0px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-toggler {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar li a,
.navbar .navbar-brand {
  color: #c6bfb9;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  cursor: pointer;
  border-bottom: white solid 3px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #000000 !important;
}

.dropdown-menu {
  margin-bottom: 0;
  background-color: #191816;
  border: 0;
  letter-spacing: 1px;
  border-radius: 0px;
  font-size: 18px;
}

.all {
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  font-family: 'Concert One', cursive;
  color: #ffffff;
  font-size: 32px;
  margin: 0px;
  border: 0px;
  margin-right: 12px;
  margin-bottom: -3px;
}

.logo-picture {
  margin-bottom: 6px;
  margin-right: -8px;
}

body {
  height: 100% !important;
  overflow: hidden;
}

html {
  height: 510% !important;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 0.7rem;
  }
  .skew-bg {
    transform: skewX(-2deg);
    margin-left: 5%;
    margin-right: 5%;
  }
  .skew {
    transform: skewX(2deg);
    margin-left: 5%;
    margin-right: 5%;
  }
  .small-skew-bg {
    transform: skewX(-2deg);
    margin-left: 5%;
    margin-right: 5%;
  }
  .small-skew {
    transform: skewX(2deg);
    margin-left: 5%;
    margin-right: 5%;
  }
  .middle-skew {
    transform: skewX(-2deg);
  }
  .middle {
    transform: skewX(2deg);
  }
  .arrow-top,
  .arrow-bottom {
    visibility: hidden;
  }
  .title {
    padding-top: 10px;
  }
  .contact {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
  }
  .head3 {
    margin-top: 5% !important;
  }
}

@media only screen and (min-width: 768px) {
  html {
    border-left: white solid 20px;
    border-right: white solid 20px;
  }
  .navbar {
    margin-left: 20px;
    margin-right: 20px;
  }
  .skew-bg {
    transform: skewX(-10deg);
    margin-left: 10%;
    margin-right: 10%;
  }
  .skew {
    transform: skewX(10deg);
    left: -20%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .small-skew-bg {
    transform: skewX(-10deg);
    margin-left: 10%;
    margin-right: 10%;
  }
  .small-skew {
    transform: skewX(10deg);
    left: -20%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .middle-skew {
    transform: skewX(-10deg);
  }
  .middle {
    transform: skewX(10deg);
  }
  .title {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    border-left: white solid 40px;
    border-right: white solid 40px;
  }
  .navbar {
    margin-left: 40px;
    margin-right: 40px;
  }
  .skew-bg {
    transform: skewX(-20deg);
    margin-left: 15%;
    margin-right: 15%;
  }
  .skew {
    transform: skewX(20deg);
    left: -20%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .small-skew-bg {
    transform: skewX(-20deg);
    margin-left: 15%;
    margin-right: 15%;
  }
  .small-skew {
    transform: skewX(20deg);
    left: -20%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .middle-skew {
    transform: skewX(-20deg);
  }
  .middle {
    transform: skewX(20deg);
  }
  .title {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    border-left: white solid 80px;
    border-right: white solid 80px;
  }
  .navbar {
    margin-left: 80px;
    margin-right: 80px;
  }
  .skew-bg {
    transform: skewX(-30deg);
    margin-left: 20%;
    margin-right: 20%;
  }
  .skew {
    transform: skewX(30deg);
    left: -20%;
    margin-left: 21%;
    margin-right: 21%;
  }
  .small-skew-bg {
    transform: skewX(-30deg);
    margin-left: 20%;
    margin-right: 20%;
  }
  .small-skew {
    transform: skewX(30deg);
    left: -20%;
    margin-left: 21%;
    margin-right: 21%;
  }
  .middle-skew {
    transform: skewX(-30deg);
  }
  .middle {
    transform: skewX(30deg);
  }
  .title {
    padding-top: 50px;
  }
}
